<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="refresh" content="0; url=http://localhost:5000/test" />
    <title>Doing the zero-knowledge Proof</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css"/>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/wdtLoading.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/wdtLoading.js') }}"></script>

</head>
<body class="container">
	<div class="row">
        <!-- FIXME - LOADING GIF-->
    		<img src="" border="0" class="imgcenter"></img>
	</div>

    <div class="wdt-loading-screen row">

        <div class="wdt-loading-phrases">

            <div class="wdt-loading-phrase-category" data-category="default">
                <div class="wdt-loading-phrase">Getting the Proof from the Blockchain...</div>
                <div class="wdt-loading-phrase">Caution Wet Floor</div>
                <div class="wdt-loading-phrase">Validating the on-chain Proof...</div>
                <div class="wdt-loading-phrase">Feeding the unicorns...</div>
                <div class="wdt-loading-phrase">Fixing responsive issues...</div>
                <div class="wdt-loading-phrase">Reading the Data...</div>
                <div class="wdt-loading-phrase">Doing a short Coffee break...</div>
                <div class="wdt-loading-phrase">lol wut...</div>
                <div class="wdt-loading-phrase">Dont feed the animals...</div>
                <div class="wdt-loading-phrase">Signing Transactions...</div>
                <div class="wdt-loading-phrase"></div>
            </div>

        </div>

    </div>

    <script type="text/javascript">
        wdtLoading.start();

    </script>
</body>
</html>
